  <div class="container">
    <div class="header">
        <h1>Planning Rooms</h1>
        <button mat-raised-button color="primary" (click)="openCreateDialog()">
          <mat-icon>add</mat-icon>
          New Room
        </button>
      </div>
    
      <app-rooms-list
      [rooms]="rooms()"
      (delete)="handleDeleteRoom($event)"
      (edit)="handleEditRoom($event)"
      (select)="handleSelectRoom($event)"

    ></app-rooms-list>

    @if (isLoading()) {
      <mat-spinner diameter="50"></mat-spinner>
    }
  </div>