# @bosch:registry=https://artifactory.boschdevcloud.com/artifactory/api/npm/lab000089-npm-release-local/
# //artifactory.boschdevcloud.com/artifactory/api/npm/lab000089-npm-release-local/:_authToken=cmVmdGtuOjAxOjE3NTkzMzEyNTU6N1l1UVpsSnBFMlpySGlBVURWcTBmdUQ0U09Q
# //artifactory.boschdevcloud.com/artifactory/api/npm/lab000089-npm-release-local/:email=Iustin.Serian@ro.bosch.com
# //artifactory.boschdevcloud.com/artifactory/api/npm/lab000089-npm-release-local/:always-auth=true

email = Iustin.Serian@ro.bosch.com
always-auth = true
registry=https://artifactory.boschdevcloud.com/artifactory/api/npm/lab000089-npm-release-local/
//artifactory.boschdevcloud.com/artifactory/api/npm/lab000089-npm-release-local/:_authToken=cmVmdGtuOjAxOjE3NjM4MTI1NjM6U3hQR0xnSUtaUDhLb0h2VnE4RmtEU3pXU3Nk