@use '../../../../styles/variables' as bosch;

.quickplay-container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: bosch.$spacing-within-component-vertical bosch.$grid-gutter;
  background-color: bosch.$background-secondary;
}

.quickplay-card {
  background: bosch.$background-primary;
  padding: bosch.$spacing-within-component-vertical bosch.$spacing-within-component-horizontal;
  width: 100%;
  max-width: 440px;
  border-radius: 12px;
}

.quickplay-header {
  text-align: center;
  margin-bottom: bosch.$spacing-between-components;
}

.quickplay-title {
  font-size: 2rem;
  font-weight: 700;
  color: bosch.$text-dark;
  margin-bottom: bosch.$spacing-within-component-vertical;

  .title-highlight {
    color: bosch.$primary-blue;
  }
}

.quickplay-subtitle {
  font-size: 1rem;
  // color: bosch.$text-light;
}

.auth-form {
  display: flex;
  flex-direction: column;
  gap: bosch.$grid-gutter;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}


