<h1 mat-dialog-title>{{ isEditMode ? 'Edit Story' : 'New Story' }}</h1>

<div mat-dialog-content>
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input matInput 
           [(ngModel)]="storyData().name" 
           required />
  </mat-form-field>
</div>

<div mat-dialog-actions>
  <button mat-button (click)="closeDialog()">Close</button>
  <button
      mat-raised-button
      color="primary"
      [disabled]="!isValidForm"
      (click)="submit()"
    >
          {{ isEditMode ? 'Update' : 'Create' }}
    </button>
</div>