<div class="join-room-container">

  @if (loading()) {
    <div class="loading-overlay">
      <div class="bosch-spinner"></div>
      <p class="bosch-text-body">Loading room data...</p>
    </div>
  }

  @if (showError && error()) {
    <div class="error-message">
      <div class="error-content bosch-card">
        <i class="a-icon boschicon-bosch-ic-error"></i>
        <p class="bosch-text-body">{{ error() }}</p>
        <button 
          type="button" 
          class="a-button a-button--primary"
          (click)="retryConnection()"
        >
          Retry
        </button>
      </div>
    </div>
  }

  <app-header></app-header>

  <div class="main-container ">
    <div class="bosch-grid-layout">
      <div class="left-column">
        <div class="bosch-card-section voting-section -light-mode">
          @if (!isRevealed()) {
            <app-voting-card></app-voting-card>
          } @else {
            <app-voting-results></app-voting-results>
          }
        </div>

        <div class="bosch-card-section story-section -light-mode">
          <app-story-list></app-story-list>
        </div>
      </div>

      <div class="right-column">
        @if (playerRole() === PlayerRole.MODERATOR) {
          <div class="bosch-card-section moderator-section -light-mode">
            <app-moderator-panel></app-moderator-panel>
          </div>
        }
        <div class="bosch-card-section players-section -light-mode">
          <app-players-panel></app-players-panel>
        </div>
      </div>
    </div>
  </div>
</div>