.button-group {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.moderator-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.result-display-box {
  background-color: #f2f2f2;
  padding: 1rem;
  margin: 1rem 0;
  text-align: center;
}

.result-value {
  color: #007bc0
  ; 
  font-size: 1.5rem;
  font-weight: 600;
}